
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Oceanic / 人生海海</title>
  <meta name="author" content="tzangms">

  
  <meta name="description" content="前天晚上心血來潮, 便把 django-nextpage 給生出來了。 其實這個 package 已經在 StreetVoice 內部用很久了, 只是一直沒時間把它包成 package 然後 release 出來。以前都會用 django-pagination 來做分頁的功能, 非常方便快速,...">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://tzangms.com/">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="/javascripts/ender.js"></script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <link href="http://feeds.feedburner.com/tzangms" rel="alternate" title="Oceanic / 人生海海" type="application/atom+xml">
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<meta name="google-site-verification" content="AR4FP21F1VmZBfi-VjsnMnDiknxIzSk4OLYBI7CqDKw" />
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

</head>

<body   >
  <header role="banner"><hgroup>
  <img src="/images/logo.png"/>
  <!--
  <h1><a href="/">Oceanic / 人生海海</a></h1>
  
    <h2>這就是人生阿</h2>
  
  -->
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="http://feeds.feedburner.com/tzangms" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:tzangms.com" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/about/">About</a></li>
  <li><a href="/blog/archives">Archives</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div class="blog-index">
  
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/2012/02/16/django-nextpage/">Django Nextpage</a></h1>
    
    
      <p class="meta">
        





  



<time datetime="2012-02-16T10:50:00+08:00" pubdate  data-updated="true" >Feb 16<span>th</span>, 2012</time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>前天晚上心血來潮, 便把 <a href="https://github.com/tzangms/django-nextpage">django-nextpage</a> 給生出來了。 其實這個 package 已經在 <a href="http://tw.streetvoice.com/">StreetVoice</a> 內部用很久了, 只是一直沒時間把它包成 package 然後 release 出來。</p>

<p>以前都會用 <a href="https://github.com/ericflo/django-pagination">django-pagination</a> 來做分頁的功能, 非常方便快速, 只要在 template 多加幾個 tag 就可以直接產出分頁了, 像是這樣。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'>{% load pagination_tags %}
</span><span class='line'>
</span><span class='line'>{% autopaginate items 20 %}
</span><span class='line'>{% for item in items %}
</span><span class='line'>    {{ item.name }}
</span><span class='line'>{% endfor %}
</span><span class='line'>
</span><span class='line'><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;pagination&quot;</span><span class="nt">&gt;</span>
</span><span class='line'>    {% paginate %}
</span><span class='line'><span class="nt">&lt;/div&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>然而其實每次算分頁都得做一次 SQL 的 COUNT(), 當資料多的時候就會開始變慢, 所以其實現在很多網站都只提供&#8221;下一頁&#8221;這個功能, 而不是 1, 2, &#8230; 120 頁這樣的方式, 畢竟那麼多分頁, 對於使用者來說第 2 頁, 跟 5 頁都是未知的結果, 有時候也只是亂槍打鳥亂按一個分頁, 這時候倒不如你就直接給使用者一些建議的結果, 效果反而還比較好。</p>

<p>所以有一些網站就只提供下一頁, 或者像是 twitter / facebook 的 timeline, 都直接給你下一頁而已, 甚至就直接叫 Load more。</p>

<p>只提供下一頁的好處就是不用再去 count 了, 所以原本兩次 query 變成一次, 而且通常在 django 裡, count 的 query 都比你實際要的資料還要慢。</p>

<p>所以如果不需要 count 的話, 接下來就只剩得知道&#8221;還有沒有下一頁&#8221;這件事了, 有看到人家的解法是, 一樣做兩次 query, 如果我要 20 筆資料, 那麼就多做一次抓 21 筆的 query, 如果有 21 筆的話, 那麼就代表有下一頁, hmm &#8230; 聽起來就不太好 XD</p>

<p>為何不一次就抓取 21 筆, 如果是大於 20 筆, 那麼就代表有下一頁啦, 所以就弄了 <a href="https://github.com/tzangms/django-nextpage/">django-nextpage</a> 出來, 主要概念大概像是這樣。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
<span class='line-number'>15</span>
<span class='line-number'>16</span>
</pre></td><td class='code'><pre><code class='python'><span class='line'><span class="c">### params ###</span>
</span><span class='line'><span class="n">paginate_by</span> <span class="o">=</span> <span class="mi">20</span>
</span><span class='line'><span class="n">page</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">GET</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s">&#39;page&#39;</span><span class="p">,</span> <span class="mi">1</span><span class="p">)</span>
</span><span class='line'>
</span><span class='line'><span class="c">### code ###</span>
</span><span class='line'><span class="n">limit</span> <span class="o">=</span> <span class="n">paginate_by</span> <span class="o">+</span> <span class="mi">1</span>
</span><span class='line'>
</span><span class='line'><span class="n">offset</span> <span class="o">=</span> <span class="p">(</span><span class="n">page</span> <span class="o">-</span> <span class="mi">1</span><span class="p">)</span> <span class="o">*</span> <span class="n">limit</span> <span class="o">-</span> <span class="p">(</span><span class="n">page</span> <span class="o">-</span> <span class="mi">1</span><span class="p">)</span>
</span><span class='line'><span class="n">items</span> <span class="o">=</span> <span class="n">items</span><span class="p">[</span><span class="n">offset</span><span class="p">:</span><span class="n">limit</span> <span class="o">+</span> <span class="n">offset</span><span class="p">]</span>
</span><span class='line'>
</span><span class='line'><span class="n">items_count</span> <span class="o">=</span> <span class="nb">len</span><span class="p">(</span><span class="nb">list</span><span class="p">(</span><span class="n">items</span><span class="p">))</span>
</span><span class='line'>
</span><span class='line'><span class="n">items_we_actually_want</span> <span class="o">=</span> <span class="n">items</span><span class="p">[:</span><span class="n">limit</span> <span class="o">-</span> <span class="mi">1</span><span class="p">]</span>
</span><span class='line'>
</span><span class='line'><span class="n">next_page</span> <span class="o">=</span> <span class="n">page</span> <span class="o">+</span> <span class="mi">1</span> <span class="k">if</span> <span class="n">items_count</span> <span class="o">==</span> <span class="n">limit</span> <span class="k">else</span> <span class="bp">None</span>
</span><span class='line'><span class="n">prev_page</span> <span class="o">=</span> <span class="n">page</span> <span class="o">-</span> <span class="mi">1</span> <span class="k">if</span> <span class="n">page</span> <span class="o">&gt;</span> <span class="mi">1</span> <span class="k">else</span> <span class="bp">None</span>
</span></code></pre></td></tr></table></div></figure>


<p>這樣一個 query 就解決了, 使用方法也跟 django-pagination 一樣, 可以直接把 django-pagination 換掉了阿, 你只需要把 load pagination_tags 換成 load nextpage 即可, 使用方式如下。</p>

<p>先用 pip 安裝</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='bash'><span class='line'><span class="nv">$ </span>pip install django-nextpage
</span></code></pre></td></tr></table></div></figure>


<p>在 INSTALLED_APPS 加上 <code>nextpage</code></p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
</pre></td><td class='code'><pre><code class='python'><span class='line'><span class="n">INSTALLED_APPS</span> <span class="o">=</span> <span class="p">(</span>
</span><span class='line'>    <span class="c"># ...</span>
</span><span class='line'>    <span class="s">&#39;nextpage&#39;</span><span class="p">,</span>
</span><span class='line'><span class="p">)</span>
</span></code></pre></td></tr></table></div></figure>


<p>最後換成 load nextpage templatetag 即可</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'>{% load nextpage %}
</span><span class='line'>
</span><span class='line'>{% autopaginate items 20 %}
</span><span class='line'>{% for item in items %}
</span><span class='line'>    {{ item.name }}
</span><span class='line'>{% endfor %}
</span><span class='line'>
</span><span class='line'>{% paginate %}
</span></code></pre></td></tr></table></div></figure>


<p>That&#8217;s all!</p>

<h2>最後</h2>

<p>敝公司為舉辦<a href="http://simplelife.streetvoice.com/">簡單生活節</a>的中子文化 / <a href="http://tw.streetvoice.com/">StreetVoice</a> 持續徵人中, 使用 Python/Django 一個打十個, 工作輕鬆不用加班, 又是藝文產業, 可常看到正妹, 也可秘密獲得演唱會入場卷, 有興趣嗎? 趕快來談談吧! 請來信 tzangms [at] streetvoice.com</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/2012/02/14/django-bootstrap-form/">Django Bootstrap Form</a></h1>
    
    
      <p class="meta">
        





  



<time datetime="2012-02-14T23:14:00+08:00" pubdate  data-updated="true" >Feb 14<span>th</span>, 2012</time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>這篇也是拖很久了 XD 大概半年前 <a href="http://twitter.github.com/bootstrap/">twitter bootstrap</a> 出來的時候, 我就寫了 <a href="https://github.com/tzangms/django-bootstrap-form/">django bootstrap form</a> 放上了 github, 然後就開始用在 production, 像是 myaudiocast, stickeraciton 跟 <a href="http://tw.streetvoice.com/">streetvoice</a> 都有用上。</p>

<p>不過因為一直沒時間研究怎麼放上 <a href="http://pypi.python.org/pypi">pypi</a>, 就想說也不方便 release, 畢竟不能透過 pip 安裝的話, 還是有點遜 XD 所以就一直沒有寫篇文章來正式發表, 一直到今天早上才研究了一下, 終於放上 pypi 了 :D</p>

<p>截至目前為止 <a href="https://github.com/tzangms/django-bootstrap-form/">django bootstrap form</a>  有 46 個 watch, 也有一些人 fork, 至少有人用了, 哈。 稍微來說明一下怎麼使用好了。</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/2012/02/14/django-bootstrap-form/">Read on &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/2012/02/14/stickeraction-move-to-heroku/">Stickeraction Moves to Heroku</a></h1>
    
    
      <p class="meta">
        





  



<time datetime="2012-02-14T21:52:00+08:00" pubdate  data-updated="true" >Feb 14<span>th</span>, 2012</time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>最近真的超忙的, 這篇拖了好幾個禮拜, 過年放假的最後幾天就該寫的說 &#8230; anyway &#8230;</p>

<p>前一陣子應邀 OSSF 電子報邀稿, 寫了一篇 <a href="http://tzangms.com/2012/01/17/django-on-heroku/">Python/Django on Heroku</a> 之後就把 <a href="http://twitthat.com/">twitthat</a> 搬上了 heroku, 後來因為想說要省錢, 想說來把手上的 Linode 都關掉好了, 便把過氣的服務 <a href="http://stickeraction.com/">stickeraction</a> 給搬上了 heroku, 順便升級到 Django 1.3, 也多深入研究一下 Heoku。</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/2012/02/14/stickeraction-move-to-heroku/">Read on &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/2012/01/18/vim-plugin-manager-vundle/">Vim Plugin Manager: Vundle</a></h1>
    
    
      <p class="meta">
        





  



<time datetime="2012-01-18T00:57:00+08:00" pubdate  data-updated="true" >Jan 18<span>th</span>, 2012</time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>其實用 vim 好久了, 可是從沒認真去研究一些外掛, 一直到去年年中看到 othree 寫了 <a href="http://blog.othree.net/log/2011/06/05/vundle/">Vundle, Bundler for Vim</a> 這篇介紹了 <a href="https://github.com/gmarik/vundle">vundle</a>, 便稍微研究了一下, 不然每次換系統就要重新把外掛裝回來, 雖然說我外掛也都只有 <a href="http://www.vim.org/scripts/script.php?script_id=2441">pyflakes.vim</a> 而已。</p>

<p>vundle 的好處就是, 你只需要維護好你的 .vimrc, 之後到哪都可以透過這份 .vimrc 用一個指令把所有外掛裝好, 所以把 .vimrc 丟上 <a href="https://gist.github.com/">gist</a> 應該是個不錯的作法。</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/2012/01/18/vim-plugin-manager-vundle/">Read on &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/2012/01/17/django-on-heroku/">Python/Django on Heroku</a></h1>
    
    
      <p class="meta">
        





  



<time datetime="2012-01-17T23:55:00+08:00" pubdate  data-updated="true" >Jan 17<span>th</span>, 2012</time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>因為先前 <a href="http://www.openfoundry.org/">Open Foundry</a> 電子報, 關於 <a href="http://heroku.com">Heroku</a> 部屬的相關文章獨缺 Python，所以便找了我寫這部份, 想說順便借這次機會催促自己玩一下 Heroku，所以就生出了這篇 <a href="http://www.openfoundry.org/en/tech-column/8564-python-django-on-heroku">Python/Django on Heroku</a>。</p>

<p>不過前一陣子又玩了很多 Heroku 上的東西，之後再寫篇文章來補充一下好了，下面就直接把文章直接放上來，存個備份，話說當然有修 typo :p</p>

<h2>簡介</h2>

<p>自從 <a href="http://www.heroku.com/">Heroku</a> 出現之後，挺羨慕 Rails 的開發者有這麼酷的服務可以使用。不過就在不久前 Heroku 也開始支援 Python 了，所以便趁著空閒玩了一下。基本上只要熟悉平常使用的 Python 相關工具，像是 virtualenv、pip 以及 git 的話，整個部屬流程可以說是非常簡單。</p>

<p>接下來，我會說明如何透過簡單的幾個步驟，把 <a href="https://www.djangoproject.com/">Django</a>  部屬到 Heroku，手腳快的話在十分鐘之內便可以看到網站在 Heroku 上跑起來了。</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/2012/01/17/django-on-heroku/">Read on &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/2011/12/29/bought-nokia-lumia-800/">買了 Nokia Lumia 800</a></h1>
    
    
      <p class="meta">
        





  



<time datetime="2011-12-29T22:05:00+08:00" pubdate  data-updated="true" >Dec 29<span>th</span>, 2011</time>
        
      </p>
    
  </header>


  <div class="entry-content"><p><img src="/uploads/2011/12/nokia-lumia-800.png" alt="Nokia lumia 800" /></p>

<p>12 月初身體狀況不太好, 除了感冒之外, 幾處牙齦處於輪翻爆炸的狀態, 整個身體的狀況糟糕透頂, 簡直就是惡夢。</p>

<p>當時應該是為了改變心情, 所以就在 12/12 星期一, 跑去 sogo 的 nokia 專櫃買了 lumia 800 這支手機。 因為當時覺得這隻手機的外型很不錯, 沒想到這是惡夢的延續。</p>

<p>這是我第一次買 Nokia 的產品。</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/2011/12/29/bought-nokia-lumia-800/">Read on &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/2011/11/21/move-out-of-appengine/">搬出 App Engine</a></h1>
    
    
      <p class="meta">
        





  



<time datetime="2011-11-21T20:49:00+08:00" pubdate  data-updated="true" >Nov 21<span>st</span>, 2011</time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>昨天把 <a href="http://www.myaudiocast.com/">MyAudioCast</a> 搬出了 <a href="http://code.google.com/appengine/">App Engine</a>, 花了一些時間改寫程式跟 migrate 資料, 最後搬到了 Linode 上。 而原本在 App Engine 上用的是 <a href="https://www.djangoproject.com/">Django</a> 1.1, 順便也把 Django 升到 1.3。</p>

<p>在這次搬家的過程花最多時間的就是在處理資料的轉換了, 而最初我以為要把資料從 App Engine 倒出來非常麻煩, 不過後來找到<a href="http://code.google.com/intl/en/appengine/docs/python/tools/uploadingdata.html">倒出資料的文件</a>, 就照著文件說明把資料倒出成 csv, 然後寫了幾支 <a href="https://docs.djangoproject.com/en/dev/howto/custom-management-commands/">Django command</a> 讀取 csv 寫進資料庫。</p>

<p>首先第一步就是建立 mapping 的 config 檔, 只需要下面這個指令就可以產生 datastore mapping 的 yaml。</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/2011/11/21/move-out-of-appengine/">Read on &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/2011/11/11/handle-malicious-website/">處理被判別為惡意網站的經驗</a></h1>
    
    
      <p class="meta">
        





  



<time datetime="2011-11-11T23:57:00+08:00" pubdate  data-updated="true" >Nov 11<span>th</span>, 2011</time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>前天由於某單位的網站被判定為惡意網站, 被植入了惡意的程式碼。 這個網站其實不是放在我們自家的伺服器上, 當時的技術主管是決定放在 Lunar Pages。 禮拜三中午一到公司, 就接到電話打來說他們網站出現問題, 被當成惡意網站怎麼辦, 哈 (苦笑)</p>

<p>由於完全沒碰過這個網站, 當初程式也是外包, 現在只好硬著頭皮解決, 不過當天有 4 個會要開, 就先請原本負責的同事處理, 不過完全沒找出問題就是, 同事還直接上 google 網站管理員說回報說誤判了 XD</p>

<p>我只好趁開會之間的空檔開始找, 一開始先用 firebug 看, 看到多出了一個異常的 request, 馬上跟同事要了 FTP 帳號想說用 grep 去找一下, 可是從 php 裡面根本找不到任何跡象, 不過後來翻到一支 javascript 會直接被導走, 還有幾隻 javascript 看起來怪怪的, 這當初是外包出去的, 我也不知道他們會不會從國外幹奇怪的 javascript 回來用。</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/2011/11/11/handle-malicious-website/">Read on &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/2011/10/24/one-piece-in-a-month/">One Piece</a></h1>
    
    
      <p class="meta">
        





  



<time datetime="2011-10-24T10:05:00+08:00" pubdate  data-updated="true" >Oct 24<span>th</span>, 2011</time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>今天, 在一個月內看完了海賊王 1 ~ 520 集, 真是值得紀念的一刻。</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/2011/10/15/appengine-so-expensive/">App Engine 好貴</a></h1>
    
    
      <p class="meta">
        





  



<time datetime="2011-10-15T13:29:00+08:00" pubdate  data-updated="true" >Oct 15<span>th</span>, 2011</time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>使用 <a href="http://code.google.com/intl/zh-TW/appengine/">App Engine</a> 的 <a href="http://www.myaudiocast.com">MyAudioCast</a> 已經一年多了, 雖然說前一陣子 App Engine 已經<a href="http://googleappengine.blogspot.com/2011/08/50-credit-for-new-billing-signups-and.html">離開 preview beta 成為正式的服務</a>了, 所以價格跟著提高, 雖然說有贈送 $50 可以用, 不過老實說我還真的沒有去研究價格到底是變成怎樣。</p>

<p>不過這一陣子 <a href="http://tzangms.com/2011/10/14/save-myaudiocast/">MyAudioCast 爆量</a>, 開始被收錢, 而且還不算少, 突然間才覺得真的是爆貴的!</p>

<p>就從 MyAudioCast 的例子來說好了, 由於大部分的 requests 都是 iTunes 來下載檔案, 以 MyAudioCast 的作法, 是透過程式記錄存取次數, 然後再轉址到真正的檔案, 所以做的事情基本上就只是計數器而已。 (當然這個 counter 有做 sharding 並且有用 memcache 處理)</p>

<p>可是從下面這個 App Engine 提供的 Resource Usage 圖表看來, 一天跑下來 CPU Time 都已經快吃光了, 而 CPU Time 的 Budget 還是給了 $4/每天! (是美金阿!)</p>

<p><a href="http://www.flickr.com/photos/tzangms/6245212699/" title="quota by tzangms, on Flickr"><img src="http://farm7.static.flickr.com/6048/6245212699_94c4c8eb88_b.jpg" width="775" height="254" alt="quota"></a></p>

<p>實際看一下 reqs/sec 的圖表, 最高也還不到 50 reqs/sec, 可是這樣下來, 每天給 5 塊的 bugdget 才不會 over quota, 所以每週會花上 35 塊美金, 這樣一個月下來需要花上 140 塊美金, 可是同樣 StickerAction 用的是 Linode 768, 做的事情 loading 比 MyAudioCast 重得多, 可是一個月也才 29.95 塊美金而已。</p>

<p><a href="http://www.flickr.com/photos/tzangms/6245212645/" title="reqs by tzangms, on Flickr"><img src="http://farm7.static.flickr.com/6219/6245212645_2ffcdeb90c_b.jpg" width="778" height="268" alt="reqs"></a></p>

<p>這樣的價格真的沒辦法接受, 難道這就是 scalable 的代價? 或是說新的價格根本不適合跑小網站? 總之, 得準備一下來搬離 App Engine 了。</p>

<p>我真懷疑是不是我搞錯的 App Engine 的計價方式阿?</p>
</div>
  
  


    </article>
  
  <nav class="pagination">
    <div>
      
        <a class="prev" href="/page/2/">&larr; Older</a>
      
      <a href="/blog/archives">Blog Archives</a>
      
    </div>
  </nav>
</div>
<aside class="sidebar">
  
    <section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/2012/02/16/django-nextpage/">Django nextpage</a>
      </li>
    
      <li class="post">
        <a href="/2012/02/14/django-bootstrap-form/">Django Bootstrap Form</a>
      </li>
    
      <li class="post">
        <a href="/2012/02/14/stickeraction-move-to-heroku/">Stickeraction moves to heroku</a>
      </li>
    
      <li class="post">
        <a href="/2012/01/18/vim-plugin-manager-vundle/">Vim Plugin Manager: Vundle</a>
      </li>
    
      <li class="post">
        <a href="/2012/01/17/django-on-heroku/">Python/Django on Heroku</a>
      </li>
    
  </ul>
</section>
<!-- Coderwall Div -->
<div id="coderwall">
    <h2>Coderwall</h2>
    <script>
        function display_coderwall(args) {
            var badges = args["data"]["badges"];
            var wall = '';
            for ( var i = 0; i < badges.length; i++ ) {
                wall += '<a href="http://coderwall.com/tzangms/"><img src="'+ badges[i]["badge"] + '" width="80" height="80" /></a>';
            }

            document.write(wall);
        }
    </script>
    <script src="http://coderwall.com/tzangms.json?callback=display_coderwall"></script>
</div>
<!-- End Coderwall Div -->

<section>
  <h1>Github Repos</h1>
  <ul id="gh_repos">
    <li class="loading">Status updating&#8230;</li>
  </ul>
  
  <a href="https://github.com/tzangms">@tzangms</a> on Github
  
  <script type="text/javascript">
    $.domReady(function(){
        if (!window.jXHR){
            var jxhr = document.createElement('script');
            jxhr.type = 'text/javascript';
            jxhr.src = '/javascripts/libs/jXHR.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(jxhr, s);
        }

        github.showRepos({
            user: 'tzangms',
            count: 0,
            skip_forks: true,
            target: '#gh_repos'
        });
    });
  </script>
  <script src="/javascripts/github.js" type="text/javascript"> </script>
</section>


<section>
  <h1>Latest Tweets</h1>
  <ul id="tweets">
    <li class="loading">Status updating&#8230;</li>
  </ul>
  <script type="text/javascript">
    $.domReady(function(){
      getTwitterFeed("tzangms", 4, false);
    });
  </script>
  <script src="/javascripts/twitter.js" type="text/javascript"> </script>
  
    <a href="http://twitter.com/tzangms" class="twitter-follow-button" data-width="208px" data-show-count="true">Follow @tzangms</a>
  
</section>



  
</aside>

    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2012 - tzangms -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
  

<script type="text/javascript">
    (function () {
      var disqus_shortname = 'tzangms';
      
        
        var disqus_script = 'count.js'
      

      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>



  <script type="text/javascript">
    (function() {
      var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
      script.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
    })();
  </script>



  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>



  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-418467-7']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>





</body>
</html>
